beautifulsoup4==4.11.1
colorlog==6.6.0
pynng==0.7.1
quart==0.17.0
hypercorn==0.13.2
peewee==3.14.10
PyMySQL==1.0.2
html5lib==1.1
schedule==1.1.0
requests==2.27.1
async_lru==1.0.3
requests[socks]
setuptools-rust

google-play-scraper==1.1.0
cryptography==39.0.1
