beautifulsoup4==4.10.0
colorlog==6.6.0
pynng==0.7.1
quart==0.16.3
hypercorn==0.13.2
peewee==3.14.8
PyMySQL==1.0.2
html5lib==1.1
schedule==1.1.0
requests==2.27.1
async_lru==1.0.2
requests[socks]
setuptools-rust

gplaycli==3.29
google-play-scraper==1.0.3
