beautifulsoup4==4.9.3
colorlog==5.0.1
Flask==2.0.1
grpcio==1.38.1
html5lib==1.1
protobuf==3.17.3
redis==3.5.3
redis-py-cluster==2.1.3
requests==2.25.1
timeloop==1.0.2
hiredis==2.0.0
setuptools-rust
requests[socks]